{{#each posts as |post|}}
  <div class="post-container">
    <h2 class="post-title">
        <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p class="post-info"> Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
    <div class="post-content">
        <p>{{post.content}}</p>
    </div>
  </div>
{{/each}}
