<div class="profile-posts">
    <h3 class="profile-heading">My Posts:</h3>
    {{#each posts as |post|}}
    <div class="post-container">
        <div class="post-header">
            <h2 class="post-title">
                <a href="/post/{{post.id}}">{{post.title}}</a>
            </h2>
            <p class="post-info">Posted on {{format_date post.date_created}}</p>
            <div class="post-actions">
                <button class="edit-button" data-post-id="{{post.id}}">Edit</button>
                <button class="delete-button" data-id="{{post.id}}">Delete</button>
            </div>
        </div>
        <div class="post-content">
            <p>{{post.content}}</p>
        </div>
    </div>
    {{/each}}
    <button id="new-button" class="btn btn-primary">New Post</button>

    <div id="createPostModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="post-form">
                <label>Title</label>
                <input type="text" id="title-post" class="form-control mb-2">
                <label>Content</label>
                <input type="text" id="content-post" class="form-control mb-2">
                <input type="submit" value="Create" class="btn btn-primary mb-3" id="newPostButton">
            </form>
        </div>
    </div>

    <div id="editPostModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="post-form">
                <label>Edit Title</label>
                <input type="text" id="edit-title-post" class="form-control mb-2">
                <label>Edit Content</label>
                <input type="text" id="edit-content-post" class="form-control mb-2">
                <input type="submit" value="Save Changes" class="btn btn-primary mb-3" id="saveChangesButton">
            </form>
        </div>
    </div>
</div>

<script src="../../public/js/profile.js"></script>